<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AutomatedcxApi" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "application", :media => "all", 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag "application" , :media => "all", 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.vuetifyjs.com/images/logos/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel= "stylesheet">
  </head>
  <body>
    <%= javascript_pack_tag "application" %>
    <%= bootstrap_flash %>
    <%= yield %>
  </body>
</html>
